.navbar {
  height: 100px;
  background-color: #fff;
  z-index: 1000;
}

.navbar .wrapper {
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.navbar .logo {
  font-weight: bold;
  text-decoration: none;
  color: #e879f9;
  font-size: 1.5rem;
}

.navbar .non_logos {
  display: flex;
  gap: 5vh;
  align-items: center;
}

.navbar .non_logos a {
  text-decoration: none;
  color: #e879f9;
  transition: color 0.3s ease;
}

.navbar .non_logos a:hover {
  color: #d946ef;
}

.navbar .non_logos button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #e879f9;
  transition: color 0.3s ease;
}

.navbar .non_logos button:hover {
  color: #d946ef;
}

.resume_btn {
  padding: 20px 40px;
  border-radius: 50px;
  background: #1488CC;
  background: linear-gradient(
    to right,
    #1488CC,#2B32B2
  );
  cursor: pointer;
  transition: 0.5s;
}

.resume_btn:hover {
  transform: scale(1.05);
}