.landing{
    padding: 10vh 0;
}

.background{
    padding: 0 10vh;
    background: linear-gradient(180deg, black, gray);
    position: relative;
}

.imageContainer{
 height:100%;
 position:absolute;
 top: 0;
 right: 0;
}
